@model SALClassLib.Masterdata.Model.Endereco

<div class="span5">
    <div class="control-group">
        @Html.LabelFor(model => model.Logradouro,  new { @class = "control-label" })
        <div class="controls">
            @Html.EditorFor(model => model.Logradouro)<br />
            @Html.ValidationMessageFor(model => model.Logradouro)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(model => model.Bairro,  new { @class = "control-label" })
        <div class="controls">
            @Html.EditorFor(model => model.Bairro)<br />
            @Html.ValidationMessageFor(model => model.Bairro)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(model => model.Numero,  new { @class = "control-label" })
        <div class="controls">
            @Html.EditorFor(model => model.Numero)<br />
            @Html.ValidationMessageFor(model => model.Numero)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(model => model.Complemento,  new { @class = "control-label" })
        <div class="controls">
            @Html.EditorFor(model => model.Complemento)<br />
            @Html.ValidationMessageFor(model => model.Complemento)
        </div>
    </div>
</div>
<div class="span5">
    <div class="control-group">
        @Html.LabelFor(model => model.Observacao,  new { @class = "control-label" })
        <div class="controls">
            @Html.TextAreaFor(model => model.Observacao)<br />
            @Html.ValidationMessageFor(model => model.Observacao)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(model => model.Municipio.Estado,  new { @class = "control-label" })
        <div class="controls">
            @Html.DropDownListFor(model => model.Municipio.Estado.Id, (IEnumerable<SelectListItem>)ViewBag.Estados)<br />
            @Html.ValidationMessageFor(model => model.Municipio.Estado.Id)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(model => model.Municipio,  new { @class = "control-label" })
        <div class="controls">
            <select id="selMunicipio" name="selMunicipio"></select>
            @ViewBag.ErrMunicipio
        </div>
    </div>
</div>