@model SALClassLib.Masterdata.Model.Cliente

<div class="control-group">
    @Html.LabelFor(model => model.PessoaFisica.Nome, new { @class = "control-label" })
    <div class="controls">
        @Html.EditorFor(model => model.PessoaFisica.Nome)<br />
        @Html.ValidationMessageFor(model => model.PessoaFisica.Nome)
    </div>
</div>

<div class="control-group">
    @Html.LabelFor(model => model.PessoaFisica.Sobrenome, new { @class = "control-label" })
    <div class="controls">
        @Html.EditorFor(model => model.PessoaFisica.Sobrenome)<br />
        @Html.ValidationMessageFor(model => model.PessoaFisica.Sobrenome)
    </div>
</div>

<div class="control-group">
    @Html.LabelFor(model => model.PessoaFisica.Cpf, new { @class = "control-label" })
    <div class="controls">
        @Html.EditorFor(model => model.PessoaFisica.Cpf)<br />
        @Html.ValidationMessageFor(model => model.PessoaFisica.Cpf)
    </div>
</div>

<div class="control-group">
    @Html.LabelFor(model => model.PessoaFisica.Rg, new { @class = "control-label" })
    <div class="controls">
        @Html.EditorFor(model => model.PessoaFisica.Rg)<br />
        @Html.ValidationMessageFor(model => model.PessoaFisica.Rg)
    </div>
</div>

<div class="control-group">
    @Html.LabelFor(model => model.PessoaFisica.TelefoneFixo, new { @class = "control-label" })
    <div class="controls">
        @Html.EditorFor(model => model.PessoaFisica.TelefoneFixo)<br />
        @Html.ValidationMessageFor(model => model.PessoaFisica.TelefoneFixo)
    </div>
</div>

<div class="control-group">
    @Html.LabelFor(model => model.PessoaFisica.TelefoneCelular, new { @class = "control-label" })
    <div class="controls">
        @Html.EditorFor(model => model.PessoaFisica.TelefoneCelular)<br />
        @Html.ValidationMessageFor(model => model.PessoaFisica.TelefoneCelular)
    </div>
</div>

<div class="control-group">
    @Html.LabelFor(model => model.PessoaFisica.Email, new { @class = "control-label" })
    <div class="controls">
        @Html.EditorFor(model => model.PessoaFisica.Email)<br />
        @Html.ValidationMessageFor(model => model.PessoaFisica.Email)
    </div>
</div>
