@model SALClassLib.Masterdata.Model.Cliente

@{
    ViewBag.Title = "Cadastro de Empresa";
    Layout = "~/Views/Shared/_Utopia.cshtml";
    Html.RenderPartial("~/Views/Shared/_FlashPartial.cshtml");
}

<div class="row header">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm("CreatePJ", "Cliente", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" })){
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="span5 offset3">
            <div class="control-group">
                @Html.LabelFor(model => model.PessoaJuridica.NomeFantasia,  new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.PessoaJuridica.NomeFantasia)<br />
                    @Html.ValidationMessageFor(model => model.PessoaJuridica.NomeFantasia)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.PessoaJuridica.RazaoSocial,  new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.PessoaJuridica.RazaoSocial)<br />
                    @Html.ValidationMessageFor(model => model.PessoaJuridica.RazaoSocial)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.PessoaJuridica.Cnpj,  new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.PessoaJuridica.Cnpj)<br />
                    @Html.ValidationMessageFor(model => model.PessoaJuridica.Cnpj)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.PessoaJuridica.InscricaoEstadual,  new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.PessoaJuridica.InscricaoEstadual)<br />
                    @Html.ValidationMessageFor(model => model.PessoaJuridica.InscricaoEstadual)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.PessoaJuridica.WebSite,  new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.PessoaJuridica.WebSite)<br />
                    @Html.ValidationMessageFor(model => model.PessoaJuridica.WebSite)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <p class="actions">
            <input class="btn btn-danger" type="submit" value="Cadastrar" />
            <input class="btn" type="reset" value="Limpar" />
            <a class="btn" href="@Url.Action("Index", "Cliente")">Cancelar</a>
        </p>  
    </div>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/bundles/jquery.maskedinput")
    <script type="text/javascript">
        $(function () {
            $('#PessoaJuridica_Cnpj').mask('99.999.999/9999-99');
        });
    </script>
}