@model SALClassLib.Masterdata.Model.Endereco

@{
    ViewBag.Title = "Cadastro de Endereço Cadastral";
    Layout = "~/Views/Shared/_Utopia.cshtml";
    Html.RenderPartial("~/Views/Shared/_FlashPartial.cshtml");
}

<div class="row header">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm("CreateEndereco", "Cliente", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" })){
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
        @Html.Partial("~/Views/Cliente/_InputEnderecoPartial.cshtml")
    </div>
    <div class="row">
        <p class="actions">
            <input class="btn btn-danger" type="submit" value="Cadastrar" />
            <input class="btn" type="reset" value="Limpar" />
            <a class="btn" href="@Url.Action("Enderecos", "Cliente")">Cancelar</a>
        </p>  
    </div>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval");
    <script type="text/javascript">
        $(function () {
            $('#Municipio_Estado_Id').change(function () {
                $.ajax({
                    url: 'BuscarMunicipios',
                    data: JSON.stringify({idEstado: $(this).val()}),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (municipios) {
                        $('#selMunicipio').find('option').remove();
                        $('#selMunicipio').append('<option value="0" selected="selected">-- Selecione --</option>');
                        $.each(municipios, function (index, municipio) {
                            $('#selMunicipio').append('<option value="' + municipio.Id + '">' +
                                municipio.Nome + "</option>");
                        });
                    }
                });
            });

            $('#Municipio_Estado_Id').trigger('change');
        });
    </script>
}