@model SALClassLib.Masterdata.Model.Endereco

@{
    ViewBag.Title = "Cadastro de Endereço";
    Layout = "~/Views/Shared/_Utopia.cshtml";
    Html.RenderPartial("~/Views/Shared/_FlashPartial.cshtml");
}

<div class="row header">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Endereco</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Logradouro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Logradouro)
            @Html.ValidationMessageFor(model => model.Logradouro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Bairro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Bairro)
            @Html.ValidationMessageFor(model => model.Bairro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Numero)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Numero)
            @Html.ValidationMessageFor(model => model.Numero)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Observacao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Observacao)
            @Html.ValidationMessageFor(model => model.Observacao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Municipio.Estado)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Municipio.Estado.Id, (IEnumerable<SelectListItem>) ViewBag.Estados)
            @Html.ValidationMessageFor(model => model.Municipio.Estado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Municipio)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Municipio.Id, (IEnumerable<SelectListItem>) ViewBag.Municipios)
            @Html.ValidationMessageFor(model => model.Municipio)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>