@model SALClassLib.Masterdata.Model.Cliente

@{
    ViewBag.Title = "Cadastro de Cliente";
    Layout = "~/Views/Shared/_Utopia.cshtml";
    Html.RenderPartial("~/Views/Shared/_FlashPartial.cshtml");
}

<div class="row header">
    <h2>@ViewBag.Title</h2>
</div>


@using (Html.BeginForm("CreatePF", "Cliente", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" })){
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="span5 offset3">
            @Html.Partial("~/Views/Cliente/_InputPFPartial.cshtml")
        </div>
    </div>
    <div class="row">
        <p class="actions">
            <input class="btn btn-danger" type="submit" value="Cadastrar" />
            <input class="btn" type="reset" value="Limpar" />
            <a class="btn" href="@Url.Action("Index", "Cliente")">Cancelar</a>
        </p>  
    </div>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/bundles/jquery.maskedinput")
    <script type="text/javascript">
        $(function () {
            $('input[id*="Telefone"]').mask('(99) 9999-9999?9').focusout(function () {
                var phone, element;
                element = $(this);
                element.unmask();
                phone = element.val().replace(/\D/g, '');
                if (phone.length > 10) {
                    element.mask("(99) 99999-999?9");
                } else {
                    element.mask("(99) 9999-9999?9");
                }
            });

            $('#PessoaFisica_Cpf').mask('999.999.999-99');
        });
    </script>
}