@model SALClassLib.Masterdata.Model.Cliente

@{
    ViewBag.Title = "Cadastro de Empresa";
    Layout = "~/Views/Shared/_Utopia.cshtml";
    Html.RenderPartial("~/Views/Shared/_FlashPartial.cshtml");
}

<div class="row header">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm("CreatePJ", "Cliente", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" })){
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="span5 offset3">
            @Html.Partial("~/Views/Cliente/_InputPJPartial.cshtml")
        </div>
    </div>
    <div class="row">
        <p class="actions">
            <input class="btn btn-danger" type="submit" value="Cadastrar" />
            <input class="btn" type="reset" value="Limpar" />
            <a class="btn" href="@Url.Action("Index", "Cliente")">Cancelar</a>
        </p>  
    </div>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/bundles/jquery.maskedinput")
    <script type="text/javascript">
        $(function () {
            $('#PessoaJuridica_Cnpj').mask('99.999.999/9999-99');
        });
    </script>
}