@model SALClassLib.Masterdata.Model.Cliente

@{
    ViewBag.Title = "Exclusão de Empresa";
    Layout = "~/Views/Shared/_Utopia.cshtml";
    Html.RenderPartial("~/Views/Shared/_FlashPartial.cshtml");
}

<div class="row header">
    <h2>@ViewBag.Title</h2>
</div>

<div class="row">
    <div class="span6 offset4">
        <h4>Tem certeza que deseja excluir esta empresa?</h4>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.PessoaJuridica.NomeFantasia)
            <strong>
                @Html.DisplayFor(model => model.PessoaJuridica.NomeFantasia)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.PessoaJuridica.RazaoSocial)
            <strong>
                @Html.DisplayFor(model => model.PessoaJuridica.RazaoSocial)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.PessoaJuridica.Cnpj)
            <strong>
                @Html.DisplayFor(model => model.PessoaJuridica.Cnpj)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.PessoaJuridica.InscricaoEstadual)
            <strong>
                @Html.DisplayFor(model => model.PessoaJuridica.InscricaoEstadual)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.PessoaJuridica.WebSite)
            <strong>
                @Html.DisplayFor(model => model.PessoaJuridica.WebSite)
            </strong>
        </div>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            <p class="actions">
                <input type="submit" value="Deletar" class="btn btn-danger" />
                @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn" })
            </p>
        }
    </div>
</div>