@model SALClassLib.Masterdata.Model.Cliente

@{
    ViewBag.Title = "Detalhes do Cliente";
    Layout = "~/Views/Shared/_Utopia.cshtml";
    Html.RenderPartial("~/Views/Shared/_FlashPartial.cshtml");
}

<div class="row header">
    <h2>@ViewBag.Title</h2>
</div>

<div class="row">
    <div class="span4">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.PessoaFisica.Nome) </dt>
            <dd>@Html.DisplayFor(model => model.PessoaFisica.Nome)</dd>

            <dt>@Html.DisplayNameFor(model => model.PessoaFisica.Sobrenome)</dt>
            <dd>@Html.DisplayFor(model => model.PessoaFisica.Sobrenome)</dd>

            <dt>@Html.DisplayNameFor(model => model.PessoaFisica.Cpf)</dt>
            <dd>@Html.DisplayFor(model => model.PessoaFisica.Cpf)</dd>

            <dt>@Html.DisplayNameFor(model => model.PessoaFisica.Rg)</dt>
            <dd>@Html.DisplayFor(model => model.PessoaFisica.Rg)</dd>

            <dt>@Html.DisplayNameFor(model => model.PessoaFisica.TelefoneFixo)</dt>
            <dd>@Html.DisplayFor(model => model.PessoaFisica.TelefoneFixo)</dd>

            <dt>@Html.DisplayNameFor(model => model.PessoaFisica.TelefoneCelular)</dt>
            <dd>@Html.DisplayFor(model => model.PessoaFisica.TelefoneCelular)</dd>

            <dt>@Html.DisplayNameFor(model => model.PessoaFisica.Email)</dt>
            <dd>@Html.DisplayFor(model => model.PessoaFisica.Email)</dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="span12"></div>
</div>

<div class="row">
    <div class="span12">
        <p class="actions">
            @Html.ActionLink("Editar", "EditPF", new { id = Model.Id }, new { @class = "btn btn-danger" })
            @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn" })
        </p>
    </div>
</div>
