@model SALClassLib.Masterdata.Model.Cliente

@{
    ViewBag.Title = "Detalhes da Empresa";
    Layout = "~/Views/Shared/_Utopia.cshtml";
    Html.RenderPartial("~/Views/Shared/_FlashPartial.cshtml");
}

<div class="row header">
    <h2>@ViewBag.Title</h2>
</div>

<div class="row">
    <div class="span4">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.PessoaJuridica.NomeFantasia) </dt>
            <dd>@Html.DisplayFor(model => model.PessoaJuridica.NomeFantasia)</dd>

            <dt>@Html.DisplayNameFor(model => model.PessoaJuridica.RazaoSocial)</dt>
            <dd>@Html.DisplayFor(model => model.PessoaJuridica.RazaoSocial)</dd>

            <dt>@Html.DisplayNameFor(model => model.PessoaJuridica.Cnpj)</dt>
            <dd>@Html.DisplayFor(model => model.PessoaJuridica.Cnpj)</dd>

            <dt>@Html.DisplayNameFor(model => model.PessoaJuridica.InscricaoEstadual)</dt>
            <dd>@Html.DisplayFor(model => model.PessoaJuridica.InscricaoEstadual)</dd>

            <dt>@Html.DisplayNameFor(model => model.PessoaJuridica.WebSite)</dt>
            <dd>@Html.DisplayFor(model => model.PessoaJuridica.WebSite)</dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="span12"></div>
</div>

<div class="row">
    <div class="span12">
        <p class="actions">
            @Html.ActionLink("Editar", "EditPJ", new { id = Model.Id }, new { @class = "btn btn-danger" })
            @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn" })
        </p>
    </div>
</div>
