@model SALClassLib.Masterdata.Model.Cliente

@{
    ViewBag.Title = "Detalhes do Cliente";
    Layout = "~/Views/Shared/_Utopia.cshtml";
    Html.RenderPartial("~/Views/Shared/_FlashPartial.cshtml");
}

<div class="row header">
    <h2>@ViewBag.Title</h2>
</div>

<div class="row">
    <div class="span4 offset4">

        <div class="control-group">
            @Html.DisplayNameFor(model => model.PessoaFisica.Nome)
            <strong>
                @Html.DisplayFor(model => model.PessoaFisica.Nome)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.PessoaFisica.Sobrenome)
            <strong>
                @Html.DisplayFor(model => model.PessoaFisica.Sobrenome)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.PessoaFisica.Cpf)
            <strong>
                @Html.DisplayFor(model => model.PessoaFisica.Cpf)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.PessoaFisica.Rg)
            <strong>
                @Html.DisplayFor(model => model.PessoaFisica.Rg)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.PessoaFisica.TelefoneFixo)
            <strong>
                @Html.DisplayFor(model => model.PessoaFisica.TelefoneFixo)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.PessoaFisica.TelefoneCelular)
            <strong>
                @Html.DisplayFor(model => model.PessoaFisica.TelefoneCelular)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.PessoaFisica.Email)
            <strong>
                @Html.DisplayFor(model => model.PessoaFisica.Email)
            </strong>
        </div>

        <p class="actions">
            @Html.ActionLink("Editar", "EditPF", new { id = Model.Id }, new { @class = "btn btn-danger" })
            @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn" })
        </p>
    </div>
</div>