@model SALClassLib.Masterdata.Model.Endereco

@{
    ViewBag.Title = "Edição de Endereço";
    Layout = "~/Views/Shared/_Utopia.cshtml";
    Html.RenderPartial("~/Views/Shared/_FlashPartial.cshtml");
}

<div class="row header">
    <h2>@ViewBag.Title</h2>
</div>


@using (Html.BeginForm("EditEndereco", "Cliente", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" })){
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Pessoa.Id)
        @Html.Partial("~/Views/Cliente/_InputEnderecoPartial.cshtml")
    </div>
    <div class="row">
        <p class="actions">
            <input id="btnSalvar" class="btn btn-danger" type="submit" value="Salvar" />
            <a class="btn" href="@Url.Action("Enderecos", "Cliente")">Cancelar</a>

        <div class="editor-label">
            @Html.LabelFor(model => model.Observacao)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Observacao)
            @Html.ValidationMessageFor(model => model.Observacao)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </div>    
}


@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval");
    <script type="text/javascript">
        var idMunicipio = @ViewBag.IdMunicipio;
        $(function () {
            $('#Municipio_Estado_Id').change(function () {
                $.ajax({
                    url: '/Cliente/BuscarMunicipios',
                    data: JSON.stringify({idEstado: $(this).val()}),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (municipios) {
                        $('#selMunicipio').find('option').remove();
                        $('#selMunicipio').append('<option value="0" selected="selected">-- Selecione --</option>');
                        $.each(municipios, function (index, municipio) {
                            $('#selMunicipio').append('<option value="' + municipio.Id + '">' +
                                municipio.Nome + "</option>");
                        });
                        $('#selMunicipio').val(idMunicipio);
                    }
                });
            });

            $('#btnSalvar').click(function(){
                if($('#Municipio_Estado_Id').val() == 0)
                {
                    $('#errEstado').text('Selecione um estado');
                    return false;
                }
                else if($('#selMunicipio').val() == 0)
                {
                    $('#errMunicipio').text('Selecione um município');
                    return false;
                }
                else
                {
                    $('#errMunicipio').text('');
                    $('#errEstado').text('');
                    return true;
                }
            });

            $('#Municipio_Estado_Id').trigger('change');
        });
    </script>
}