@model SALClassLib.Masterdata.Model.Endereco

@{
    ViewBag.Title = "EditEndereco";
    Layout = "~/Views/Shared/_Utopia.cshtml";
}

<h2>EditEndereco</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Endereco</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Pessoa.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Logradouro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Logradouro)
            @Html.ValidationMessageFor(model => model.Logradouro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Bairro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Bairro)
            @Html.ValidationMessageFor(model => model.Bairro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Numero)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Numero)
            @Html.ValidationMessageFor(model => model.Numero)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Complemento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Complemento)
            @Html.ValidationMessageFor(model => model.Complemento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Observacao)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Observacao)
            @Html.ValidationMessageFor(model => model.Observacao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Municipio.Estado)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Municipio.Estado.Id, (IEnumerable<SelectListItem>) ViewBag.Estados)
            @Html.ValidationMessageFor(model => model.Municipio.Estado)
            <span id="errEstado"></span>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Municipio)
        </div>
        <div class="editor-field">
            <select id="selMunicipio" name="selMunicipio"></select>
            <span id="errMunicipio"></span>
            @ViewBag.ErrMunicipio
        </div>

        <p>
            <input id="btnSalvar" type="submit" value="Salvar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval");
    <script type="text/javascript">
        var idMunicipio = @ViewBag.IdMunicipio;
        $(function () {
            $('#Municipio_Estado_Id').change(function () {
                $.ajax({
                    url: '/Cliente/BuscarMunicipios',
                    data: JSON.stringify({idEstado: $(this).val()}),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (municipios) {
                        $('#selMunicipio').find('option').remove();
                        $('#selMunicipio').append('<option value="0" selected="selected">-- Selecione --</option>');
                        $.each(municipios, function (index, municipio) {
                            $('#selMunicipio').append('<option value="' + municipio.Id + '">' +
                                municipio.Nome + "</option>");
                        });
                        $('#selMunicipio').val(idMunicipio);
                    }
                });
            });

            $('#btnSalvar').click(function(){
                if($('#Municipio_Estado_Id').val() == 0)
                {
                    $('#errEstado').text('Selecione um estado');
                    return false;
                }
                else if($('#selMunicipio').val() == 0)
                {
                    $('#errMunicipio').text('Selecione um município');
                    return false;
                }
                else
                {
                    $('#errMunicipio').text('');
                    $('#errEstado').text('');
                    return true;
                }
            });

            $('#Municipio_Estado_Id').trigger('change');
        });
    </script>
}