@model SALClassLib.Masterdata.Model.AparelhoMovel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Utopia.cshtml";
    Html.RenderPartial("~/Views/Shared/_FlashPartial.cshtml");
}

<div class="row header">
    <h2>@ViewBag.Title</h2>
</div>

<div class="row">
    <div class="span6 offset4">
        <h4>Tem certeza que deseja excluir este aparelho móvel ?</h4>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.Id)
            <strong>
                @Html.DisplayFor(model => model.Id)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.Tipo.Descricao)
            <strong>
                @Html.DisplayFor(model => model.Tipo.Descricao)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.Modelo)
            <strong>
                @Html.DisplayFor(model => model.Modelo)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.Marca)
            <strong>
                @Html.DisplayFor(model => model.Marca)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.NumeroTelefone)
            <strong>
                @Html.DisplayFor(model => model.NumeroTelefone)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.Observacao)        
            <strong>
                @Html.DisplayFor(model => model.Observacao)
            </strong>
        </div>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            <p class="actions">
                <input type="submit" value="Deletar" class="btn btn-danger" />
                @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn" })
            </p>
        }
    </div>
</div>
