@model IEnumerable<SALClassLib.Masterdata.Model.AparelhoMovel>

@{
    ViewBag.Title = "Aparelho Móvel";
    Layout = "~/Views/Shared/_Utopia.cshtml";
    Html.RenderPartial("~/Views/Shared/_FlashPartial.cshtml");
}

<div class="row">
    <h2>
        @ViewBag.Title
        <a href="@Url.Action("Create", "AparelhoMovel")" class="btn btn-danger pull-right" type="button"><i class="icon-plus icon-white"> </i>  Novo Aparelho Movel</a>
    </h2>
</div>

<div class="row">
    <table class="table table-hover table-striped">
        <thead>
            <tr style="background:#CCC;color:#FFF;">
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Modelo)</th>
                <th>@Html.DisplayNameFor(model => model.Marca)</th>
                <th>@Html.DisplayNameFor(model => model.NumeroTelefone)</th>
                <th>@Html.DisplayNameFor(model => model.Observacao)</th>
                <th class="actions"></th>
            </tr>
        </thead>
        <tbody>
@foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Modelo)</td>
                <td>@Html.DisplayFor(modelItem => item.Marca)</td>
                <td>@Html.DisplayFor(modelItem => item.NumeroTelefone)</td>
                <td>@Html.DisplayFor(modelItem => item.Observacao)</td>
                <td class="actions">
                    <a href="@Url.Action("Edit", "AparelhoMovel", new { id=item.Id })"><i class="icon-pencil icon-black"></i></a>
                    <a href="@Url.Action("Details", "AparelhoMovel", new { id=item.Id })"><i class="icon-info-sign icon-black"></i></a>
                    <a href="@Url.Action("Delete", "AparelhoMovel", new { id=item.Id })"><i class="icon-trash icon-black"></i></a>
                </td>
            </tr>
}
        </tbody>
    </table>
</div>