@model SALClassLib.Masterdata.Model.Pessoa

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/css/login.css" rel="stylesheet" />

@using (Html.BeginForm("Index", "Login", new { ReturnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post, new { @class = "form-signin" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <h3 class="form-signin-heading">Faça seu login</h3>

    @Html.TextBoxFor(model => model.Usuario, new { @class = "input-block-level", @placeholder = "Email" })
    @Html.ValidationMessageFor(model => model.Usuario)

    @Html.PasswordFor(model => model.Senha, new { @class = "input-block-level", @placeholder = "Senha" })
    @Html.ValidationMessageFor(model => model.Senha)

    <button class="btn btn-large btn-danger" type="submit">Entrar</button>
}  