@model SALMvc.Models.OSEnderecoModel

@{
    ViewBag.Title = "SAL Motofrete, seu motoboy a um click de distância!";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<div class="row-fluid" id="sal">
    <div class="span2">
        <h1 class="logo">Sal</h1>

        @using (Html.BeginForm("Create", "OrdemServico", FormMethod.Post, new { @class = "" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <fieldset>
                <legend>Origem</legend>
                <label for="EnderecoRetirada_Logradouro">Endereço</label>
                @Html.TextBoxFor(model => model.EnderecoRetirada.Logradouro, new { placeholder="Vou buscar aqui", @class="span12" })
                
                <label for="EnderecoRetirada_Complemento">Complemento</label>
                @Html.TextBoxFor(model => model.EnderecoRetirada.Complemento, new { placeholder="Andar ? Apartamento ?", @class="span12" })
                
                <label for="EnderecoRetirada_NomeContato">Contato</label>
                @Html.TextBoxFor(model => model.EnderecoRetirada.NomeContato, new { placeholder="Vou falar com quem ?", @class="span12" })
                            
            </fieldset>
            <fieldset>
                <legend>Destino</legend>

                <label for="EnderecoEntrega_Logradouro">Endereço</label>
                @Html.TextBoxFor(model => model.EnderecoEntrega.Logradouro, new { placeholder="Vou entregar aqui", @class="span12" })
                
                <label for="EnderecoEntrega_Complemento">Complemento</label>
                @Html.TextBoxFor(model => model.EnderecoEntrega.Complemento, new { placeholder="Andar ? Apartamento ?", @class="span12" })
                
                <label for="EnderecoEntrega_NomeContato">Contato</label>
                @Html.TextBoxFor(model => model.EnderecoEntrega.NomeContato, new { placeholder="Vou falar com quem ?", @class="span12" })
            </fieldset>

            <div class="form-actions">
                <button type="submit" class="btn btn-danger span12">Confirmar</button>
            </div>
        }
    </div>
    <div class="span10" id="map-canvas">
        MAPA
    </div>
</div>

@section Scripts
{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeTKNaa8r6sudbzbDwyj76g605HmJb-FI&amp;sensor=true&amp;libraries=places"></script>

    <script type="text/javascript" src="~/Assets/js/gmaps.js"></script>
}