@model SALClassLib.OS.Model.OrdemServico

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Utopia.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>OrdemServico</legend>

    <strong>@Html.DisplayNameFor(model => model.Numero)</strong>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>

    <strong>@Html.DisplayNameFor(model => model.Data)</strong>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataFormatada)
    </div>

    <strong>@Html.DisplayNameFor(model => model.Observacao)</strong>
    <div class="display-field">
        @Html.DisplayFor(model => model.Observacao)
    </div>

    <h2>Endereço de Retirada</h2>
        @Html.DisplayFor(model => model.EnderecoRetirada.Logradouro), @Html.DisplayFor(model => model.EnderecoRetirada.Numero)
        @Html.DisplayFor(model => model.EnderecoRetirada.Complemento)<br />
        @Html.DisplayFor(model => model.EnderecoRetirada.Bairro)<br />
        @Html.DisplayFor(model => model.EnderecoRetirada.Municipio.Nome) - @Html.DisplayFor(model => model.EnderecoRetirada.Municipio.Estado.Sigla)<br />
        @Html.DisplayFor(model => model.EnderecoRetirada.Observacao)


    <h2>Endereço de Entrega</h2>
        @Html.DisplayFor(model => model.EnderecoEntrega.Logradouro), @Html.DisplayFor(model => model.EnderecoEntrega.Numero)
        @Html.DisplayFor(model => model.EnderecoEntrega.Complemento)<br />
        @Html.DisplayFor(model => model.EnderecoEntrega.Bairro)<br />
        @Html.DisplayFor(model => model.EnderecoEntrega.Municipio.Nome) - @Html.DisplayFor(model => model.EnderecoEntrega.Municipio.Estado.Sigla)<br />
        @Html.DisplayFor(model => model.EnderecoEntrega.Observacao)


</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
