@model SALClassLib.OS.Model.OrdemServico

@{
    ViewBag.Title = "SAL Motofrete, seu motoboy a um click de distância!";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<div class="row header">
    <h2>Novo Pedido</h2>
</div>

@using (Html.BeginForm("Create", "Gerente", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="span5">
            <div class="control-group">
                @Html.LabelFor(model => model.Data, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.Data)
                    @Html.ValidationMessageFor(model => model.Data)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.EnderecoRetirada.Logradouro, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.EnderecoRetirada.Logradouro)
                    @Html.ValidationMessageFor(model => model.EnderecoRetirada.Logradouro)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.EnderecoRetirada.Complemento, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.EnderecoRetirada.Complemento)
                    @Html.ValidationMessageFor(model => model.EnderecoRetirada.Complemento)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.EnderecoRetirada.NomeContato, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.EnderecoRetirada.NomeContato)
                    @Html.ValidationMessageFor(model => model.EnderecoRetirada.NomeContato)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.EnderecoEntrega.Logradouro, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.EnderecoEntrega.Logradouro)
                    @Html.ValidationMessageFor(model => model.EnderecoEntrega.Logradouro)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.EnderecoEntrega.Logradouro, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.EnderecoEntrega.Complemento)
                    @Html.ValidationMessageFor(model => model.EnderecoEntrega.Logradouro)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.EnderecoEntrega.NomeContato, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.EnderecoEntrega.NomeContato)
                    @Html.ValidationMessageFor(model => model.EnderecoEntrega.NomeContato)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Observacao, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.Observacao)
                    @Html.ValidationMessageFor(model => model.Observacao)
                </div>
            </div>
        </div>
    </div>
}
