@model SALClassLib.OS.Model.OrdemServico

@{
    ViewBag.Title = "SAL Motofrete, seu motoboy a um click de distância!";
    Layout = "~/Views/Shared/_Home.cshtml";
}
@section navigation {
<!-- Navbar
================================================== -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="span12">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>  
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="@Url.Action("Index", "Home")" class="logo brand">Sal</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text">
              seu motoboy a um click de distância
            </p>
          </div>
        </div>
      </div>
</div>    
}

<div class="row-fluid header">
    <div class="span12">
        <h2 class="text-center">Novo Pedido</h2>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
    &nbsp;
    </div>
</div>

@using (Html.BeginForm("Step3", "OrdemServico", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row-fluid">
        <div class="span4 offset2">
            <fieldset>
                <legend>Endere&ccedil;o de Retirada</legend>
                @Html.DisplayFor(model => model.EnderecoRetirada.Logradouro), @Html.DisplayFor(model => model.EnderecoRetirada.Numero)
                @Html.DisplayFor(model => model.EnderecoRetirada.Complemento)<br />
                @Html.DisplayFor(model => model.EnderecoRetirada.Bairro)<br />
                @Html.DisplayFor(model => model.EnderecoRetirada.Municipio.Nome) - @Html.DisplayFor(model => model.EnderecoRetirada.Municipio.Estado.Sigla)<br />
                @Html.DisplayFor(model => model.EnderecoRetirada.Observacao)
            </fieldset>
        </div>
        <div class="span4">
            <fieldset>
                <legend>Endere&ccedil;o de Entrega</legend>
                @Html.DisplayFor(model => model.EnderecoEntrega.Logradouro), @Html.DisplayFor(model => model.EnderecoEntrega.Numero)
                @Html.DisplayFor(model => model.EnderecoEntrega.Complemento)<br />
                @Html.DisplayFor(model => model.EnderecoEntrega.Bairro)<br />
                @Html.DisplayFor(model => model.EnderecoEntrega.Municipio.Nome) - @Html.DisplayFor(model => model.EnderecoEntrega.Municipio.Estado.Sigla)<br />
                @Html.DisplayFor(model => model.EnderecoEntrega.Observacao)
            </fieldset>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span8 offset2">
            <fieldset>
                <legend>Comentario</legend>
                <div class="control-group">
                    @Html.LabelFor(model => model.Observacao, new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => model.Observacao, new {  @class="span12" })
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span8 offset2">
            <div class="form-actions">
                <button type="submit" class="btn btn-danger">Confirmar</button>
            </div>
        </div>
    </div>
    @Html.HiddenFor(model => model.EnderecoRetirada.Logradouro)
    @Html.HiddenFor(model => model.EnderecoRetirada.Numero)
    @Html.HiddenFor(model => model.EnderecoRetirada.Complemento)
    @Html.HiddenFor(model => model.EnderecoRetirada.Bairro)
    @Html.HiddenFor(model => model.EnderecoRetirada.Municipio.Estado.Id)
    @Html.HiddenFor(model => model.EnderecoRetirada.Municipio.Id)
    @Html.HiddenFor(model => model.EnderecoRetirada.Cep)
    @Html.HiddenFor(model => model.EnderecoRetirada.NomeContato)
    @Html.HiddenFor(model => model.EnderecoRetirada.TelefoneContato)

    @Html.HiddenFor(model => model.EnderecoEntrega.Logradouro)
    @Html.HiddenFor(model => model.EnderecoEntrega.Numero)
    @Html.HiddenFor(model => model.EnderecoEntrega.Complemento)
    @Html.HiddenFor(model => model.EnderecoEntrega.Bairro)
    @Html.HiddenFor(model => model.EnderecoEntrega.Municipio.Estado.Id)
    @Html.HiddenFor(model => model.EnderecoEntrega.Municipio.Id)
    @Html.HiddenFor(model => model.EnderecoEntrega.Cep)
    @Html.HiddenFor(model => model.EnderecoEntrega.NomeContato)
    @Html.HiddenFor(model => model.EnderecoEntrega.TelefoneContato)

    @Html.HiddenFor(model => model.Data)
}
