@model SALClassLib.Masterdata.Model.Gerente

@{
    ViewBag.Title = "Detalhes do Gerente";
    Layout = "~/Views/Shared/_Utopia.cshtml";
    Html.RenderPartial("~/Views/Shared/_FlashPartial.cshtml");
}

<div class="row header">
    <h2>@ViewBag.Title</h2>
</div>

<div class="row">
    <div class="span2 offset3">
        <dl>
            <dt>@Html.DisplayNameFor(model => model.Foto)</dt>
            <dd><img src="@ViewBag.Foto" width="200" height="200" /></dd>
        </dl>
    </div>
    <div class="span4">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.Nome) </dt>
            <dd>@Html.DisplayFor(model => model.Nome)</dd>

            <dt>@Html.DisplayNameFor(model => model.Sobrenome)</dt>
            <dd>@Html.DisplayFor(model => model.Sobrenome)</dd>

            <dt>@Html.DisplayNameFor(model => model.Cpf)</dt>
            <dd>@Html.DisplayFor(model => model.Cpf)</dd>

            <dt>@Html.DisplayNameFor(model => model.Rg)</dt>
            <dd>@Html.DisplayFor(model => model.Rg)</dd>

            <dt>@Html.DisplayNameFor(model => model.Email)</dt>
            <dd>@Html.DisplayFor(model => model.Email)</dd>

            <dt>@Html.DisplayNameFor(model => model.TelefoneFixo)</dt>
            <dd>@Html.DisplayFor(model => model.TelefoneFixo)</dd>

            <dt>@Html.DisplayNameFor(model => model.TelefoneCelular)</dt>
            <dd>@Html.DisplayFor(model => model.TelefoneCelular)</dd>           

            <dt>@Html.DisplayNameFor(model => model.Usuario)</dt>
            <dd>@Html.DisplayFor(model => model.Usuario)</dd>
        </dl>
    </div>
</div>

<div class="row">
    <div class="span12"></div>
</div>

<div class="row">
    <div class="span12">
        <p class="actions">
            @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-danger" })
            @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn" })
        </p>
    </div>
</div>
