@model SALClassLib.Masterdata.Model.Gerente

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Utopia.cshtml";
    Html.RenderPartial("~/Views/Shared/_FlashPartial.cshtml");
}

<h2>Details</h2>

<fieldset>
    <legend>Gerente</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sobrenome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sobrenome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cpf)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cpf)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rg)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rg)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Foto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Foto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TelefoneFixo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TelefoneFixo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TelefoneCelular)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TelefoneCelular)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuario)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
