@model IEnumerable<SALClassLib.Masterdata.Model.Gerente>

@{
    ViewBag.Title = "Listagem de Gerentes";
    Layout = "~/Views/Shared/_Utopia.cshtml";
    Html.RenderPartial("~/Views/Shared/_FlashPartial.cshtml");
}

<div class="row" style="border-bottom: 1px solid black;">
    <h2>
        Gerentes
        <a href="@Url.Action("Create", "Gerente")" class="btn btn-danger pull-right" type="button"><i class="icon-user icon-white"> </i>  Novo Gerente</a>
    </h2>
</div>

<div class="row">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Nome)</th>
                <th>@Html.DisplayNameFor(model => model.Sobrenome)</th>
                <th>@Html.DisplayNameFor(model => model.Cpf)</th>
                <th>@Html.DisplayNameFor(model => model.Rg)</th>
                <th>@Html.DisplayNameFor(model => model.TelefoneFixo)</th>
                <th>@Html.DisplayNameFor(model => model.TelefoneCelular)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <th>@Html.DisplayNameFor(model => model.Usuario)</th>
                <th class="actions">Ações</th>
            </tr>
        </thead>
        <tbody>
@foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Sobrenome)</td>
                <td>@Html.DisplayFor(modelItem => item.Cpf)</td>
                <td>@Html.DisplayFor(modelItem => item.Rg)</td>
                <td>@Html.DisplayFor(modelItem => item.TelefoneFixo)</td>
                <td>@Html.DisplayFor(modelItem => item.TelefoneCelular)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Usuario)</td>
                <td class="actions">
                    <a href="@Url.Action("Edit", "Gerente", new { id=item.Id })" class="btn btn-small btn-info"><i class="icon-pencil icon-white"> </i>  Editar</a>
                    <a href="@Url.Action("Details", "Gerente", new { id=item.Id })" class="btn btn-small btn-info"><i class="icon-info-sign icon-white"> </i>  Detalhes</a>
                    <a href="@Url.Action("Delete", "Gerente", new { id=item.Id })" class="btn btn-small btn-info"><i class="icon-remove-circle icon-white"> </i>  Excluir</a>
                </td>
            </tr>
}
        </tbody>
    </table>
</div>