@model SALClassLib.Masterdata.Model.Entregador

@{
    ViewBag.Title = "Cadastro de Entregadores";
    Layout = "~/Views/Shared/_Utopia.cshtml";
    Html.RenderPartial("~/Views/Shared/_FlashPartial.cshtml");
}

<div class="row header">
    <h2>Cadastro de Entregadores</h2>
</div>

<div class="row">
    <div class="span4 offset4">
    @using (Html.BeginForm("Create", "Entregador", FormMethod.Post, new { @class = "form-horizontal",  enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="control-group">
            @Html.LabelFor(model => model.Nome,  new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Nome)
                @Html.ValidationMessageFor(model => model.Nome)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Sobrenome,  new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Sobrenome)
                @Html.ValidationMessageFor(model => model.Sobrenome)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Cpf,  new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Cpf)
                @Html.ValidationMessageFor(model => model.Cpf)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Rg,  new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Rg)
                @Html.ValidationMessageFor(model => model.Rg)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Cnh,  new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Cnh)
                @Html.ValidationMessageFor(model => model.Cnh)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Foto,  new { @class = "control-label" })
            <div class="controls">
                <input type="file" name="Foto" />
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.PlacaMoto,  new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.PlacaMoto)
                @Html.ValidationMessageFor(model => model.PlacaMoto)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.ModeloMoto,  new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.ModeloMoto)
                @Html.ValidationMessageFor(model => model.ModeloMoto)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Usuario,  new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Usuario)
                @Html.ValidationMessageFor(model => model.Usuario)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Senha,  new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(model => model.Senha)
                @Html.ValidationMessageFor(model => model.Senha)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.AparelhoMovel,  new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownListFor(model => model.AparelhoMovel.Id, (IEnumerable<SelectListItem>)ViewBag.AparelhoMovel)
                @Html.ValidationMessageFor(model => model.AparelhoMovel)
            </div>
        </div>
            
        <p class="actions">
            <input class="btn btn-success" type="submit" value="Cadastrar" />
            <input class="btn btn-warning" type="reset" value="Limpar" />
            <a class="btn btn-danger" href="@Url.Action("Index", "Entregador")">Cancelar</a>
        </p>    
    }
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/bundles/jquery.maskedinput")
    <script type="text/javascript">
        $(function () {
            $('#Cpf').mask('999.999.999-99');
            $('#PlacaMoto').mask('aaa-9999');
        });
    </script>
}