@model SALClassLib.Masterdata.Model.Entregador

@{
    ViewBag.Title = "Detalhes do Entregador";
    Layout = "~/Views/Shared/_Utopia.cshtml";
    Html.RenderPartial("~/Views/Shared/_FlashPartial.cshtml");
}

<div class="row header">
    <h2>@ViewBag.Title</h2>
</div>

<div class="row">
    <div class="span4 offset4">

        <div class="control-group">
            @Html.DisplayNameFor(model => model.Nome)
            <strong>
                @Html.DisplayFor(model => model.Nome)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.Sobrenome)
            <strong>
                @Html.DisplayFor(model => model.Sobrenome)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.Cpf)
            <strong>
                @Html.DisplayFor(model => model.Cpf)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.Rg)
            <strong>
                @Html.DisplayFor(model => model.Rg)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.Cnh)
            <strong>
                @Html.DisplayFor(model => model.Cnh)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.AparelhoMovel)
            <strong>
                @Html.DisplayFor(model => model.AparelhoMovel.Modelo)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.PlacaMoto)
            <strong>
                @Html.DisplayFor(model => model.PlacaMoto)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.ModeloMoto)
            <strong>
                @Html.DisplayFor(model => model.ModeloMoto)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.Usuario)
            <strong>
                @Html.DisplayFor(model => model.Usuario)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.Foto)
        </div>
        <div class="display-field">
            <img src="@ViewBag.Foto" width="400" height="310" />
        </div>
        <p class="actions">
            @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-danger" })
            @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn" })
        </p>

    </div>
</div>
