@model SALClassLib.Masterdata.Model.Entregador

@{
    ViewBag.Title = "Edição de Entregador";
    Layout = "~/Views/Shared/_Utopia.cshtml";
    Html.RenderPartial("~/Views/Shared/_FlashPartial.cshtml");
}

<div class="row header">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm("Edit", "Entregador", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="span5">
            @Html.HiddenFor(model => model.Id)

            <div class="control-group">
                @Html.LabelFor(model => model.Nome, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.Nome)<br />
                    @Html.ValidationMessageFor(model => model.Nome)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.Sobrenome,  new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.Sobrenome)<br />
                    @Html.ValidationMessageFor(model => model.Sobrenome)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.Cpf,  new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.Cpf)<br />
                    @Html.ValidationMessageFor(model => model.Cpf)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.Rg,  new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.Rg)<br />
                    @Html.ValidationMessageFor(model => model.Rg)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.Cnh,  new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.Cnh)<br />
                    @Html.ValidationMessageFor(model => model.Cnh)
                </div>
            </div>  
            
            <div class="control-group">
                @Html.LabelFor(model => model.AparelhoMovel,  new { @class = "control-label" })
                <div class="controls">
                    @Html.DropDownListFor(model => model.AparelhoMovel.Id, (IEnumerable<SelectListItem>)ViewBag.AparelhoMovel)<br />
                    @Html.ValidationMessageFor(model => model.AparelhoMovel)
                </div>
            </div>        
        </div> 
        <div class="span5">
            <div class="control-group">
                @Html.LabelFor(model => model.PlacaMoto,  new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.PlacaMoto)<br />
                    @Html.ValidationMessageFor(model => model.PlacaMoto)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.ModeloMoto,  new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.ModeloMoto)<br />
                    @Html.ValidationMessageFor(model => model.ModeloMoto)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.Usuario,  new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.Usuario)<br />
                    @Html.ValidationMessageFor(model => model.Usuario)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.Foto,  new { @class = "control-label" })
                <div class="controls">
                    <input type="file" name="Foto" /><br />
                    @Html.HiddenFor(model => model.Foto)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <p class="actions">
            <input class="btn btn-danger" type="submit" value="Salvar" />
            <a class="btn" href="@Url.Action("Index", "Entregador")">Cancelar</a>
        </p>
    </div>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/bundles/jquery.maskedinput")
    <script type="text/javascript">
        $(function () {
            $('#Cpf').mask('999.999.999-99');
            $('#PlacaMoto').mask('aaa-9999');
        });
    </script>
}