@model SALClassLib.Masterdata.Model.Atendente

@{
    ViewBag.Title = "Cadastro de Atendente";
    Layout = "~/Views/Shared/_Utopia.cshtml";
    Html.RenderPartial("~/Views/Shared/_FlashPartial.cshtml");
}

<h2>Cadastro de Atendente</h2>

@using (Html.BeginForm("Create", "Atendente", FormMethod.Post, new { enctype = "multipart/form-data" } ))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Atendente</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Sobrenome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Sobrenome)
            @Html.ValidationMessageFor(model => model.Sobrenome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cpf)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cpf)
            @Html.ValidationMessageFor(model => model.Cpf)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rg)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rg)
            @Html.ValidationMessageFor(model => model.Rg)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cnh)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cnh)
            @Html.ValidationMessageFor(model => model.Cnh)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Foto)
        </div>
        <div class="editor-field">
            <input type="file" name="Foto" />
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TelefoneFixo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TelefoneFixo)
            @Html.ValidationMessageFor(model => model.TelefoneFixo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TelefoneCelular)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TelefoneCelular)
            @Html.ValidationMessageFor(model => model.TelefoneCelular)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StatusExclusao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StatusExclusao)
            @Html.ValidationMessageFor(model => model.StatusExclusao)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Usuario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Usuario)
            @Html.ValidationMessageFor(model => model.Usuario)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Senha)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Senha)
            @Html.ValidationMessageFor(model => model.Senha)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>