@model SALClassLib.Masterdata.Model.Atendente

@{
    ViewBag.Title = "Cadastro de Atendente";
    Layout = "~/Views/Shared/_Utopia.cshtml";
    Html.RenderPartial("~/Views/Shared/_FlashPartial.cshtml");
}

<div class="row header">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm("Create", "Atendente", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="span5">
            <div class="control-group">
                @Html.LabelFor(model => model.Nome,  new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.Nome)<br />
                    @Html.ValidationMessageFor(model => model.Nome)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.Sobrenome,  new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.Sobrenome)<br />
                    @Html.ValidationMessageFor(model => model.Sobrenome)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.Cpf,  new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.Cpf)<br />
                    @Html.ValidationMessageFor(model => model.Cpf)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.Rg,  new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.Rg)<br />
                    @Html.ValidationMessageFor(model => model.Rg)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.Email,  new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.Email)<br />
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
        </div>
        <div class="span5">
            <div class="control-group">
                @Html.LabelFor(model => model.TelefoneFixo,  new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.TelefoneFixo)<br />
                    @Html.ValidationMessageFor(model => model.TelefoneFixo)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.TelefoneCelular,  new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.TelefoneCelular)<br />
                    @Html.ValidationMessageFor(model => model.TelefoneCelular)
                </div>
            </div>
        
            <div class="control-group">
                @Html.LabelFor(model => model.Usuario,  new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.Usuario)<br />
                    @Html.ValidationMessageFor(model => model.Usuario)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.Senha,  new { @class = "control-label" })
                <div class="controls">
                    @Html.PasswordFor(model => model.Senha)<br />
                    @Html.ValidationMessageFor(model => model.Senha)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.Foto,  new { @class = "control-label" })
                <div class="controls">
                   <input type="file" name="Foto" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <p class="actions">
            <input class="btn btn-danger" type="submit" value="Cadastrar" />
            <input class="btn" type="reset" value="Limpar" />
            <a class="btn" href="@Url.Action("Index", "Atendente")">Cancelar</a>
        </p>  
    </div>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/bundles/jquery.maskedinput")
    <script type="text/javascript">
        $(function () {
            $('input[id*="Telefone"]').mask('(99) 9999-9999?9').focusout(function () {
                var phone, element;
                element = $(this);
                element.unmask();
                phone = element.val().replace(/\D/g, '');
                if (phone.length > 10) {
                    element.mask("(99) 99999-999?9");
                } else {
                    element.mask("(99) 9999-9999?9");
                }
            });

            $('#Cpf').mask('999.999.999-99');
        });
    </script>
}