@model SALClassLib.Masterdata.Model.Atendente

@{
    ViewBag.Title = "Exclusão de Atendente";
    Layout = "~/Views/Shared/_Utopia.cshtml";
    Html.RenderPartial("~/Views/Shared/_FlashPartial.cshtml");
}

<div class="row header">
    <h2>@ViewBag.Title</h2>
</div>

<div class="row">
    <div class="span6 offset4">
        <h4>Tem certeza que deseja excluir este atendente?</h4>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.Nome)
            <strong>
                @Html.DisplayFor(model => model.Nome)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.Sobrenome)
            <strong>
                @Html.DisplayFor(model => model.Sobrenome)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.Cpf)
            <strong>
                @Html.DisplayFor(model => model.Cpf)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.Rg)
            <strong>
                @Html.DisplayFor(model => model.Rg)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.TelefoneFixo)
            <strong>
                @Html.DisplayFor(model => model.TelefoneFixo)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.TelefoneCelular)
            <strong>
                @Html.DisplayFor(model => model.TelefoneCelular)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.Email)
            <strong>
                @Html.DisplayFor(model => model.Email)
            </strong>
        </div>

        <div class="control-group">
            @Html.DisplayNameFor(model => model.Foto)
        </div>
        <div class="display-field">
            <img src="@ViewBag.Foto" width="400" height="310" />
        </div>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            <p class="actions">
                <input type="submit" value="Deletar" class="btn btn-danger" />
                @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn" })
            </p>
        }
    </div>
</div>
