@model IEnumerable<SALClassLib.Masterdata.Model.Atendente>

@{
    ViewBag.Title = "Atendente";
    Layout = "~/Views/Shared/_Utopia.cshtml";
    Html.RenderPartial("~/Views/Shared/_FlashPartial.cshtml");
}

<div class="row" style="border-bottom: 1px solid #DDD;">
    <h2>
        @ViewBag.Title
        <a href="@Url.Action("Create", "Atendente")" class="btn btn-danger pull-right" type="button"><i class="icon-user icon-white"> </i>  Novo Atendente</a>
    </h2>
</div>

<div class="row">
    <table class="table table-hover table-striped">
        <thead>
            <tr style="background:#CCC;color:#FFF;">
                <th>@Html.DisplayNameFor(model => model.Nome)</th>
                <th>@Html.DisplayNameFor(model => model.Sobrenome)</th>
                <th>@Html.DisplayNameFor(model => model.Cpf)</th>
                <th>@Html.DisplayNameFor(model => model.TelefoneCelular)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <th class="actions"></th>
            </tr>
        </thead>    
        <tbody>    
@foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Sobrenome)</td>
                <td>@Html.DisplayFor(modelItem => item.Cpf)</td>
                <td>@Html.DisplayFor(modelItem => item.TelefoneCelular)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td class="actions">
                    <a href="@Url.Action("Edit", "Atendente", new { id=item.Id })"><i class="icon-pencil icon-black"></i></a>
                    <a href="@Url.Action("Details", "Atendente", new { id=item.Id })"><i class="icon-info-sign icon-black"></i></a>
                    <a href="@Url.Action("Delete", "Atendente", new { id=item.Id })"><i class="icon-trash icon-black"></i></a>
                </td>
            </tr>
}
        </tbody>
    </table>
</div>
