@model SALClassLib.OS.Model.OrdemServico

@{
    ViewBag.Title = "Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SAL</h1>
@using (Html.BeginForm("Index", "OrdemServico", FormMethod.Post, new { @class = "" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Status.Id)
    
    if (Model != null)
    {    
    <div class="editor-label">
        <b>#</b> @Html.DisplayFor(model => model.NumeroFormatado)
    </div>
    <div class="editor-label">
        <b>Origem</b> @(Model.EnderecoRetirada.getEndereco())
    </div>
    <div class="editor-label">
        <b>Contato</b> @(Model.EnderecoRetirada.NomeContato)
    </div>
    <div class="editor-label">
        <b>Destino</b> @(Model.EnderecoEntrega.getEndereco())
    </div>
    <div class="editor-label">
        <b>Contato</b> @(Model.EnderecoEntrega.NomeContato)
    </div>
    <div class="editor-label">
        <b>Status</b> @(Model.Status.Descricao)
    </div>
        
    <input type="submit" value="@TempData["botao"]" />
    }
}

@using (Html.BeginForm("AtribuirOS", "OrdemServico", FormMethod.Post, new { @id = "frmNovaOS" }))
{
    if (Model == null)
    {
    <div class="editor-label">
        <label>
            Não há ordens de serviço disponíveis no momento!
        </label>
        @Html.Hidden("geolocation")
    </div>
    <div class="editor-label">
        <input type="submit" id="btnNovaOS" value="Verificar nova Ordem de Serviço" class="btn btn-primary" />
    </div>
    }
}

@section Scripts{
    <script type="text/javascript">
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var coordenada = position.coords.latitude + ' ' + position.coords.longitude;
                    console.log(coordenada);
                    document.getElementById("geolocation").value = coordenada;
                    $('#geolocation').trigger('change');
                });
            }
            else {
                console.log("NS");
            }
        }
        $(function () {
            $('#btnNovaOS').click(function (e) {
                e.preventDefault();
                $(this).prop('disabled', true);
                getLocation();
            });
            $('#geolocation').change(function () {
                $('#frmNovaOS').submit();
            });
        });
    </script>
}