@model SALClassLib.OS.Model.OrdemServico

@{
    ViewBag.Title = "Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="span12">
    @using (Html.BeginForm("Index", "OrdemServico", FormMethod.Post, new { @class = "" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Status.Id)
    
        if (Model != null)
        {            
            <h3><b>#</b> @Html.DisplayFor(model => model.IdFormatado)</h3>
            <p><b>Origem</b> @(Model.EnderecoRetirada.getEndereco())</p>
            <p><b>Contato</b> @(Model.EnderecoRetirada.NomeContato)     </p>   
            <p><b>Destino</b> @(Model.EnderecoEntrega.getEndereco())        </p>
            <p><b>Contato</b> @(Model.EnderecoEntrega.NomeContato)        </p>
            <p><b>Status</b> @(Model.Status.Descricao)</p>
            <input class="btn" type="submit" value="@TempData["botao"]" />
            <button style="margin-left: 10px" class="btn" type="submit" name="VerificarRota"><i class="icon-road"></i></button>
        }
    }

    @using (Html.BeginForm("AtribuirOS", "OrdemServico", FormMethod.Post, new { @id = "frmNovaOS" }))
    {
        if (Model == null)
        {
        <div>
            <label>
                Não há ordens de serviço disponíveis no momento!
            </label>
            @Html.Hidden("geolocation")
        </div>
        <div>
            <input type="submit" id="btnNovaOS" value="Verificar nova Ordem de Serviço" class="btn" />
        </div>
        }
    }
</div>


@section Scripts{
    <script type="text/javascript">
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var coordenada = position.coords.latitude + ' ' + position.coords.longitude;
                    console.log(coordenada);
                    document.getElementById("geolocation").value = coordenada;
                    $('#geolocation').trigger('change');
                });
            }
            else {
                console.log("NS");
            }
        }
        $(function () {
            $('#btnNovaOS').click(function (e) {
                e.preventDefault();
                $(this).prop('disabled', true);
                getLocation();
            });
            $('#geolocation').change(function () {
                $('#frmNovaOS').submit();
            });
        });
    </script>
}