<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Le styles -->
    <link href="~/Assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/application.css" rel="stylesheet" />
    
    @Scripts.Render("~/bundles/modernizr")
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar">
    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div style="margin-left:35px; margin-right:35px;">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="@Url.Action("Index", "Home")" class="logo brand">Sal</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
            @{
                SALClassLib.Masterdata.Model.Pessoa pessoa = SALMvc.Helpers.LoginHelper.GetUsuarioLogado(this.User.Identity.Name);
                String nomeUsuario = "";
                String editAction = "";
                String tipoUsuario = pessoa.GetType().ToString().Substring(pessoa.GetType().ToString().LastIndexOf(".") + 1);
                if (pessoa is SALClassLib.Masterdata.Model.PessoaFisica)
                {
                    nomeUsuario = ((SALClassLib.Masterdata.Model.PessoaFisica)pessoa).Nome;
                    editAction = "EditPF";
                }
                else if (pessoa is SALClassLib.Masterdata.Model.PessoaJuridica)
                {
                    nomeUsuario = ((SALClassLib.Masterdata.Model.PessoaJuridica)pessoa).NomeFantasia;
                    editAction = "EditPJ";
                }
            }
            Olá, <a href="@Url.Action(editAction, tipoUsuario, new { id = pessoa.Id })" class="navbar-link">
                @nomeUsuario
                </a> |
            @Html.ActionLink("Sair", "Logout", "Login")
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Header
    ================================================== -->

    <!-- Content
    ================================================== -->
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
            <ul class="nav nav-tabs nav-stacked">
                <li>@Html.ActionLink("Meus Endereços", "Endereços", "Cliente")</li>
                <li>@Html.ActionLink("Atendente", "Index", "Atendente")</li>
                <li>@Html.ActionLink("Cliente", "Index", "Cliente")</li>
                <li>@Html.ActionLink("Entregador", "Index", "Entregador")</li>
                <li>@Html.ActionLink("Gerente", "Index", "Gerente")</li>
                <li>@Html.ActionLink("Ordem de Serviço", "Index", "OrdemServico")</li>
            </ul>
        </div>
        <div class="span10">
            @RenderBody()
        </div>
      </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="~/Assets/js/application.js"></script>
    <script src="~/Assets/js/bootstrap-affix.js"></script>
    <script src="~/Assets/js/bootstrap-alert.js"></script>
    <script src="~/Assets/js/bootstrap-button.js"></script>
    <script src="~/Assets/js/bootstrap-carousel.js"></script>
    <script src="~/Assets/js/bootstrap-collapse.js"></script>
    <script src="~/Assets/js/bootstrap-dropdown.js"></script>
    <script src="~/Assets/js/bootstrap-modal.js"></script>
    <script src="~/Assets/js/bootstrap-popover.js"></script>
    <script src="~/Assets/js/bootstrap-scrollspy.js"></script>
    <script src="~/Assets/js/bootstrap-tab.js"></script>
    <script src="~/Assets/js/bootstrap-tooltip.js"></script>
    <script src="~/Assets/js/bootstrap-transition.js"></script>
    <script src="~/Assets/js/bootstrap-typeahead.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/prettify.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
