@model SALClassLib.Masterdata.Model.Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
    Html.RenderPartial("~/Views/Shared/_FlashPartial.cshtml");
}

<div class="container">

@using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form-signin" }))
{
    <div class="logo brand" style="font-size:3.5em;margin-top:20px;margin-bottom:20px;">Sal</div>
    <h3 class="form-signin-heading">Efetue seu Login</h3>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)            

    @Html.TextBoxFor(model => model.Usuario, new { @class = "input-block-level", placeholder = "Usuário" })
    @Html.ValidationMessageFor(model => model.Usuario)

    @Html.PasswordFor(model => model.Senha, new { @class = "input-block-level", placeholder = "Senha" })
    @Html.ValidationMessageFor(model => model.Senha)
    <input class="btn btn-large btn-danger" id="btnLogin" type="submit" value="Entrar" />
}

</div> <!-- /container -->